@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope";
}

.draggable {
  background: #3f6eb6;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
}

.draggable:active {
  cursor: grabbing;
}
